:root {
  --white: white;
  --0: 0px;
  --lapis-lazuli: #1e7395;
  --shamrock: #18a262;
  --black: black;
  --charcoal: #323231;
  --dim-grey: #4d4d4f;
  --yellow: #f9f871;
  --transparent: rgba(0, 0, 0, 0);
  --black-50: rgba(0, 0, 0, .5);
  --purple: #876eac;
  --orange: #ee982c;
  --breeze: #bac7cc;
  --midnight-blue: #011b3a;
  --cool-blue: #002d62;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

body {
  color: var(--white);
  font-family: proxima-nova, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  margin-top: var(--0);
  margin-bottom: var(--0);
  font-size: 4em;
  font-weight: 700;
  line-height: 1.11;
}

h2 {
  letter-spacing: .125rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 300;
}

p {
  margin-bottom: .5rem;
  font-size: 1em;
}

a {
  color: var(--lapis-lazuli);
  font-size: 1em;
  text-decoration: none;
  transition: color .42s;
}

a:hover {
  color: var(--shamrock);
}

img {
  max-width: 100%;
}

.form {
  flex-direction: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.form:focus {
  color: #d02421;
}

.wrapper--form {
  margin-bottom: 0;
  display: block;
}

.wrapper--form:hover {
  color: #f2b01e;
}

.wrapper--form:focus {
  color: #d02421;
  flex: 0 auto;
  justify-content: space-around;
  display: block;
}

.form--field {
  color: var(--black);
  border: 1px solid #c7c7cc;
  border-radius: .5rem;
  margin-bottom: 1.25rem;
  padding: 1.5rem 1rem;
  font-size: 1.25rem;
  transition: border-color .42s;
}

.form--field:hover {
  border-color: var(--shamrock);
  color: #323231;
}

.form--field:focus {
  border-color: var(--lapis-lazuli);
  background-color: var(--charcoal);
  color: var(--white);
}

.form--field::-ms-input-placeholder {
  font-weight: 200;
}

.form--field::placeholder {
  font-weight: 200;
}

.wrapper--page {
  height: 100%;
  background-color: var(--charcoal);
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  overflow: hidden;
}

.wrapper--page._100svh {
  height: 100vh;
}

.recaptcha {
  margin-top: .5rem;
  margin-bottom: 1.25rem;
}

.wrapper--password {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container--password {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.form--password {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.wrapper--404 {
  height: 100vh;
  background-color: var(--charcoal);
  background-image: linear-gradient(225deg, black, var(--charcoal) 85%);
  justify-content: center;
  align-items: center;
  display: flex;
}

.container--404 {
  text-align: center;
}

.h-404 {
  color: var(--shamrock);
}

._404-txt {
  color: var(--white);
  margin-bottom: 60px;
}

._404 {
  width: 14rem;
}

.grid--8col {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-color: #d02421;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.image--logo {
  width: 100%;
  mix-blend-mode: multiply;
}

.image--logo.sm {
  max-height: 70%;
}

.form--subject {
  display: none;
}

.success-message {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 4rem;
  padding: 0;
}

.text--success {
  color: var(--shamrock);
  font-size: 1.5rem;
  font-weight: 700;
}

.error-message {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
  padding: 1rem 0;
}

.text--error {
  color: var(--yellow);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.21;
}

.checkbox {
  margin-bottom: .5rem;
  padding-left: 1rem;
  display: none;
}

.container--full {
  width: 100%;
  margin-bottom: 0;
}

.container--full.max--80 {
  width: 25rem;
  max-width: 80%;
}

.container--full.center {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container--full.footer {
  text-align: right;
  padding-top: 2rem;
}

.cursor {
  z-index: 999999;
  width: 100%;
  height: 100vh;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity .25s;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ratio-box--4x3 {
  width: 100%;
  aspect-ratio: 4 / 3;
  border: .125rem solid var(--charcoal);
  background-color: var(--white);
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding: 10%;
  transition: border-color .3s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.ratio-box--4x3:hover {
  border-color: var(--shamrock);
}

.ratio-box--4x3:active {
  transform: scale(1);
}

.wrapper--ratiobox {
  aspect-ratio: 16 / 9;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.grid--2col {
  grid-column-gap: var(--0);
  grid-row-gap: var(--0);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid--2col.is-featured {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  border-bottom: .175rem dotted var(--charcoal);
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

.grid--2col.is-featured.is-last {
  border-bottom-style: none;
  margin-bottom: 2rem;
}

.grid--2col.is-about {
  grid-column-gap: 4rem;
  grid-template-columns: .5fr 1fr;
  padding-top: 2rem;
}

.ball {
  width: 20rem;
  height: 20rem;
  opacity: .8;
  filter: blur(8rem);
  border-radius: 50%;
  position: fixed;
  top: auto;
  bottom: -30rem;
  left: -30rem;
  right: 0%;
}

.ball--2 {
  width: 30rem;
  height: 30rem;
  opacity: .8;
  filter: blur(5rem);
  border-radius: 50%;
  position: fixed;
  top: auto;
  bottom: -8rem;
  left: auto;
  right: -4rem;
}

.hide {
  display: none;
}

.wrapper--nav {
  z-index: 5;
  width: 100%;
  letter-spacing: .25rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 3rem;
  transition: color .2s;
}

.container--nav {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  display: flex;
}

.link--nav-logo {
  z-index: 1;
  width: 12rem;
}

.wrapper--nav-menu {
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.link--nav {
  background-color: var(--black-50);
  color: var(--white);
  margin-left: 2.5rem;
  font-weight: 300;
  transition: box-shadow .3s, color .3s;
}

.link--nav:hover {
  box-shadow: 0 1px 0 0 var(--shamrock);
}

.wrapper--main {
  width: 90rem;
  max-width: 90%;
  background-color: var(--black);
  box-shadow: 0 6px 2rem .25rem var(--black-50);
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 4rem 4rem;
  position: relative;
  overflow: hidden;
}

.wrapper--main._100 {
  height: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container--section {
  width: 100%;
  color: var(--white);
}

.container--section.padding-top--4rem {
  position: relative;
  overflow: visible;
}

.text--hero {
  color: #fff;
  letter-spacing: .125rem;
  font-size: 3.75rem;
  font-weight: 100;
  position: relative;
}

.color--shamrock {
  color: var(--shamrock);
}

.color--shamrock.orbit {
  transform: rotate(90deg);
}

.color--yellow {
  color: var(--yellow);
}

.color--lapis {
  color: var(--lapis-lazuli);
}

.color--lapis.orbit {
  position: static;
}

.wrapper--orbit {
  width: 42rem;
  opacity: .2;
  position: absolute;
  top: -8rem;
  bottom: auto;
  left: auto;
  right: -8rem;
}

.wrapper--orbit._2 {
  top: -7rem;
  right: -9rem;
  transform: rotate(180deg);
}

.wrapper--orbit._3 {
  top: -8rem;
  right: -10rem;
  transform: rotate(135deg);
}

.image--icon-small {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.image--icon-small.color--lapis {
  transform: rotate(0);
}

.color--purple {
  color: var(--purple);
}

.color--orange {
  color: var(--orange);
}

.color--grey {
  color: var(--dim-grey);
}

.padding-top--4rem {
  padding-top: 4rem;
}

.margin-padding--0 {
  margin: 0;
  padding: 0;
}

.padding-top--8rem {
  padding-top: 8rem;
}

.text--service {
  color: var(--breeze);
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.2;
}

.padding-bottom--2rem {
  padding-bottom: 2rem;
}

.containter--service {
  align-items: center;
  display: flex;
  position: relative;
}

.grid--service {
  max-width: 80%;
  grid-column-gap: var(--0);
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: start;
  justify-items: start;
  padding-top: 4rem;
  display: grid;
}

.icon--newtab {
  width: 2rem;
  height: 2rem;
  color: #c9c9c9;
  position: absolute;
  top: 2%;
  right: 2%;
}

.icon--newtab.static {
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.icon--newtab.sm {
  width: 1rem;
  height: 1rem;
  color: var(--charcoal);
  justify-content: center;
  align-items: center;
  display: flex;
  top: 5%;
  right: 5%;
}

.dots {
  font-size: .5rem;
  display: none;
}

.slider {
  height: 15rem;
  background-color: var(--transparent);
  margin-left: auto;
  margin-right: auto;
}

.slider.full {
  height: auto;
}

.containter--testimonial {
  flex-direction: column;
  display: flex;
}

.p--testimonial {
  text-align: center;
  margin-bottom: .5rem;
  font-size: 1.075em;
  line-height: 1.4;
}

.arrow {
  width: 2rem;
  height: 2rem;
  background-color: var(--charcoal);
  border-radius: 50%;
  font-size: 1rem;
  transition: background-color .3s;
  top: auto;
  bottom: 0%;
  left: 5%;
  right: auto;
}

.arrow:hover {
  background-color: var(--shamrock);
}

.arrow.right {
  top: auto;
  bottom: 0%;
  left: auto;
  right: 5%;
}

.arrow.portfolio {
  width: 5%;
  height: 100%;
  background-color: var(--black);
  border-radius: 0%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.arrow.portfolio.right {
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.text--testimonial {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
}

.icon--testimonial {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--charcoal);
  color: var(--lapis-lazuli);
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
}

.mask._100 {
  width: 95%;
  padding-left: 5%;
}

.p--intro {
  width: 71.5%;
  margin-bottom: 2rem;
}

.p--intro._50 {
  width: 50%;
}

.p--intro.full {
  width: 100%;
  line-height: 1.6;
}

.link--button {
  border: 1px solid var(--shamrock);
  background-color: var(--charcoal);
  color: var(--white);
  border-radius: .5rem;
  justify-content: center;
  padding: .75rem 1.5rem;
  transition: border-color .2s, background-color .2s, box-shadow .2s;
  display: inline-block;
}

.link--button:hover {
  border: 1px solid var(--charcoal);
  background-color: var(--black);
  box-shadow: 60px 0 10rem .5rem var(--lapis-lazuli), -60px 0 10rem .5rem var(--purple);
  color: var(--white);
}

.link--button.nav {
  margin-left: 2.5rem;
}

.link--button.orange {
  border-color: var(--orange);
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

.link--button.orange:hover {
  border-color: var(--charcoal);
}

.link--button.yellow {
  border-color: var(--yellow);
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

.link--button.yellow:hover {
  border-color: var(--charcoal);
}

.link--button.purple {
  border-color: var(--purple);
  margin-bottom: 4rem;
  font-size: 1.25rem;
}

.link--button.purple:hover {
  border-color: var(--charcoal);
}

.margin-bottom--4rem {
  margin-bottom: 4rem;
}

.text--tag {
  background-color: var(--lapis-lazuli);
  margin-right: .5rem;
  padding: .125rem .5rem;
  font-size: .875rem;
  display: inline-block;
}

.image--16x9 {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.border--1px-dimgrey {
  border: 1px solid var(--dim-grey);
}

.wrapper--tag {
  color: var(--white);
  align-items: center;
  margin-top: 1rem;
  display: flex;
  position: relative;
}

.wrapper--tag:hover {
  color: var(--white);
}

.image--4x3 {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.wrapper--subsite {
  margin-bottom: 2rem;
}

.wrapper--subsite.margin-bottom--4rem {
  margin-bottom: 4rem;
}

.wrapper--featured {
  width: 100%;
  aspect-ratio: 4 / 3;
  border: 1px solid var(--charcoal);
  border-radius: 1rem;
  transition: border-color .2s, box-shadow .2s;
  position: relative;
  overflow: hidden;
}

.wrapper--featured:hover {
  border-color: var(--black);
  box-shadow: -20px 0 6rem -4rem var(--shamrock), 20px 0 6rem -1.5rem var(--lapis-lazuli);
}

.text--featured {
  letter-spacing: .125rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: proxima-nova, sans-serif;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1;
}

.slide._1-4 {
  width: 23%;
  margin-right: 2.5%;
}

.wrapper--sub-work {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: var(--white);
  border: 2px solid #000;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: 10%;
  transition: border-color .2s;
  display: flex;
  position: relative;
}

.wrapper--sub-work:hover {
  border-color: var(--shamrock);
}

.wrapper--sub-work:active {
  transform: scale(1);
}

.image--headshot {
  border: 1px solid var(--lapis-lazuli);
  border-radius: 1rem;
  margin-top: .25rem;
}

.h1-pay {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: .5rem;
  font-size: 2rem;
}

.center {
  text-align: center;
}

.link--invoice {
  box-shadow: 0 1px 0 0 var(--white);
  color: var(--breeze);
  text-transform: uppercase;
  transition: box-shadow .42s, color .42s;
}

.link--invoice:hover {
  box-shadow: 0 1px 0 0 var(--shamrock);
}

@media screen and (max-width: 991px) {
  .wrapper--form {
    width: 100%;
    margin-bottom: 4rem;
  }

  .wrapper--page {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .grid--8col {
    grid-template-columns: 1fr 1fr;
  }

  .image--logo {
    max-width: 80%;
  }

  .container--full.max--80 {
    width: 100%;
    max-width: none;
  }

  .container--full.footer {
    text-align: center;
    padding-top: 4rem;
  }

  .cursor {
    display: none;
  }

  .grid--2col {
    height: auto;
    display: block;
  }

  .grid--2col.is-featured {
    padding-bottom: 0;
  }

  .wrapper--nav-menu {
    background-color: var(--white);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
  }

  .wrapper--mobile-menu {
    padding: 1rem;
  }

  .wrapper--mobile-menu.w--open {
    background-color: var(--transparent);
    color: #fff;
  }

  .link--nav {
    background-color: var(--transparent);
    color: var(--black);
    margin-bottom: 1rem;
    margin-left: 0;
    display: block;
  }

  .wrapper--main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container--section.padding-top--8rem {
    padding-top: 4rem;
  }

  .text--hero {
    font-size: 2.5rem;
  }

  .wrapper--orbit {
    width: 34rem;
  }

  .text--service {
    font-size: 1.375rem;
  }

  .containter--service {
    margin-bottom: 1rem;
  }

  .grid--service {
    max-width: 100%;
    display: block;
  }

  .arrow {
    height: 2rem;
  }

  .p--intro._50, .p--intro.margin-bottom--4rem {
    width: 100%;
  }

  .link--button.nav {
    margin-left: 0;
  }

  .link--button.orange, .link--button.yellow, .link--button.purple {
    margin-bottom: 2.5rem;
  }

  .wrapper--subsite {
    width: 67%;
    display: block;
  }

  .wrapper--featured {
    margin-bottom: 2rem;
  }

  .slide._1-4 {
    width: 31.5%;
  }

  .image--headshot {
    max-width: 50%;
    margin-bottom: 2rem;
  }

  .icon {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .wrapper--form {
    margin-top: 0;
  }

  .wrapper--page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .link--nav-logo {
    padding-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .form {
    margin-top: 4rem;
  }

  .wrapper--form {
    margin-top: -20px;
  }

  .form--field {
    border-color: var(--dim-grey);
    font-size: 1rem;
  }

  .wrapper--page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .grid--2col {
    flex-direction: column;
    padding-top: 2rem;
    display: flex;
  }

  .grid--2col.is-featured {
    margin-bottom: 0;
    padding-top: .5rem;
  }

  .grid--2col.is-about {
    padding-top: 0;
  }

  .grid--2col.flip {
    flex-direction: column-reverse;
  }

  .wrapper--nav {
    margin-bottom: 1.5rem;
  }

  .container--nav {
    padding-top: 0;
  }

  .link--nav-logo {
    width: 8rem;
  }

  .wrapper--mobile-menu, .wrapper--mobile-menu.w--open {
    padding: 0;
  }

  .wrapper--main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container--section.padding-top--4rem {
    padding-top: 0;
  }

  .container--section.padding-top--8rem {
    padding-top: 2rem;
  }

  .text--hero {
    margin-bottom: .75rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .wrapper--orbit {
    width: 19rem;
  }

  .text--service {
    flex: 1;
    font-size: 1rem;
  }

  .grid--service {
    padding-top: 2rem;
  }

  .h2.color--yellow {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .h2.color--shamrock {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .p--testimonial {
    font-size: .875rem;
  }

  .arrow.portfolio {
    display: none;
  }

  .mask._100 {
    width: auto;
    padding-left: 0%;
  }

  .p--intro.margin-bottom--4rem {
    margin-bottom: 1rem;
  }

  .text--tag {
    line-height: 1.2;
  }

  .wrapper--subsite {
    width: 75%;
  }

  .text--featured {
    font-size: 1rem;
  }

  .slide._1-4 {
    width: 100%;
    margin-right: 0%;
  }

  .h1-pay {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
}

#w-node-_6989b871-69e0-cbb7-82da-d9b6cab46728-fedcd880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4667100e-b2ed-c0c3-4507-fe08818da76c-fedcd880, #w-node-_4667100e-b2ed-c0c3-4507-fe08818da780-fedcd880, #w-node-_4667100e-b2ed-c0c3-4507-fe08818da794-fedcd880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: center;
}

#w-node-_07a1be26-4c99-8d90-f5a0-01961925579b-fedcd880 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_4667100e-b2ed-c0c3-4507-fe08818da7ba-fedcd880, #w-node-_4667100e-b2ed-c0c3-4507-fe08818da7ab-fedcd880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5db1e37d-8368-569c-5549-2492da5078fa-fedcd880 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}


